name: Build stage2 base trellis image

on:
  workflow_dispatch:

jobs:
  build-and-push-stage2-base:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GHCR
        run: echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Build stage2 base trellis image
        run: |
          docker build -f docker/stage2.trellis.base.Dockerfile \
            -t ghcr.io/${{ github.repository_owner }}/aue-stage2-base-trellis:cuda118-py310 .

      - name: Push stage2 base trellis image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/aue-stage2-base-trellis:cuda118-py310
