name: Build stage2 base trellis image

on:
  workflow_dispatch:

jobs:
  build-and-push-stage2-base:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # - name: Set up Docker Buildx
      #   uses: docker/setup-buildx-action@v3
      #   with:
      #     # FIX: 빌드 중 로컬 레이어를 덜 쌓게 하고 GC 유도(러너 디스크 압박 완화)
      #     buildkitd-flags: --debug --oci-worker-gc --oci-worker-gc-keepstorage=12GB

      - name: Login to GHCR
        run: echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Build stage2 base trellis image
        run: |
          docker build -f docker/stage2.trellis.base.Dockerfile \
            -t ghcr.io/${{ github.repository_owner }}/aue-stage2-base-trellis:cuda118-py310 .

      - name: Push stage2 base trellis image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/aue-stage2-base-trellis:cuda118-py310
